.image-subject-viewer
  margin 0px auto
  text-align center
  border solid 1px black
  border-radius 10px
  box-shadow #858585 4px 4px 15px
  padding 20px
  width 500px
  height auto
  h1
    color red
  .subject-container
    img
      border solid 1px #909090
      width 424px
      height 424px

    .subject-metadata
      margin 10px
      text-align left
      border-radius 10px
      h3
        margin-left 10px
        text-align left
      .meta-field
        color blue
        font-size 14px
      .meta-value
        color red
        font-size 12px
        font-style italic


  .action-button
    margin 10px